<div class="container">
  <!--   https://www.jerecho.com/codepen/nike-product-page/ -->
    <div class="product-image">
      <img src={{this.urlImage}} alt="" class="product-logo" style="height: 200px; width:200px;"> 
      <div class="dots">
        
        <a  *ngFor="let image of post?.images; let i = index" (click)="changeImage(i)" [class.active]="i === currentImageIndex"><i>{{ i + 1 }}</i></a>
   
      </div>
    </div>
    
    <div class="product-details">
      <header>
        <h1 class="title" style="text-align: center;">{{post?.name}}</h1>
        <div class="price">
          <h4>{{post?.price | currency:'COP':'symbol-narrow':'1.0-0'}}</h4>
        </div>
        
        <label for="cantidad" class="input-field col s1">Unidades</label>
        <div class="row">
            <input type="number" name="cantidad" id="cantidad" [(ngModel)]="cantidadProducto" value="1" class="input-field col s1">

             <button type="button"  class="input-field col s6  waves-effect waves-light btn-large blue-grey darken-3" style="margin-left: 100px;" (click)="this.agregarAlCarrito();">
              <i class="material-icons ">add_shopping_cart</i>
              <span>añadir al carrito</span>
            </button>

            <a href="https://wa.me/+57{{this.post?.phone}}" target="_blank" class="input-field col s6  waves-effect waves-light btn-large blue-grey darken-3">
              <i class="material-icons ">contact_phone</i> 
              Contactar al vendedor por whatsapp </a>
            
        </div>
        
        
        <article>
          <h5>Descripción</h5>
          <p>{{post?.description}}.</p>
        </article>

      </header>
      <br>
      <br>
      <div>
        <table>
          <thead>Reseñas</thead>
          <tbody>
            <td>
              
            </td>
            <td *ngIf="this.qualification == false"> Sin reseñas aún.</td>
            <tr *ngFor="let review of this.qualificationList">
              <td>{{review.comment}} 
                <div class="qualifications">
                  <ng-container *ngFor="let i of createArray(review.score ?? 0)"> 
                    <label class="qualifications" >★</label>
                  </ng-container>
                </div>
              </td>
            </tr>
        </table>
      </div>
      
    </div> 
    
  </div>
