<h2 >Productos destacados</h2>

<div class="carousel carousel-slider center">
  <div class="carousel-item  grey darken-1 white-text" *ngFor="let producto of productosDestacados">
    <h2>{{ producto.nombre }}</h2>
    <p class="white-text">{{ producto.descripcion }}</p>
    <img src={{producto.imagen}} alt="{{ producto.nombre }}" class="responsive-img" style="max-width: 50%; border-radius: 10px;" > 
  </div>
</div>

<!-- <div class="container">
  <h4 class="center">Categorías</h4>
  <div class="row">
    <div class="col s12 m4" *ngFor="let categoria of categorias">
      <div class="card">
        <div class="card-image">
          <img [src]="categoria.imagen" alt="{{ categoria.nombre }}"> 
          <span class="card-title">{{ categoria.nombre }}</span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="section" >
      <div class="row" >
        <div class="col s12 m6 l4 card" *ngFor="let post of productList | paginate: { itemsPerPage: registrosPorPagina, currentPage: pag, totalItems: total}">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" [src]="getFirstImageUrl(post)" *ngIf="hasImage(post)">
              <img class="activator" src="https://via.placeholder.com/300" *ngIf="!hasImage(post)">
        </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{post.name}}</span> 
              <span class="card-title text-darken-4">${{post.price}}<a href="#"><i class="material-icons right">add_shopping_cart</i></a> </span>
             
              <p><a routerLink="/producto/post-info/{{ post.id }}">Ver mas..</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Descripción del producto <i class="material-icons right">close</i></span>
              <p>{{post.description}}</p>
            </div>
          </div>  
        </div>
        
      </div>
      <pagination-controls class="my-pagination" 
                      (pageChange)="pag = $event; listarPost()"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Navegación"
                      screenReaderPageLabel="Página"
                      screenReaderCurrentLabel="Página Actual">
        </pagination-controls>
  </div>
</div>