/* Estilos generales para las cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 100%; /* Ocupa todo el ancho de su contenedor */
    height: 100%; /* Ocupa todo el alto de su contenedor */
    display: flex; /* Flexbox para el diseño vertical */
    flex-direction: column; /* Apila los elementos verticalmente */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Imagen de la card */
.card-image {
    height: 200px; /* Altura fija para la imagen */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.card-image img {
    width: 100%;
    height: 100%; /* Imagen ocupa todo el espacio del contenedor */
    object-fit: cover; /* Cubre todo el espacio, recortando si es necesario */
}

/* Contenido de la card */
.card-content {
    padding: 16px; /* Espacio interno */
    flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Título de la card */
.card-title {
    font-weight: 500;
    margin-bottom: 8px;
}

/* Precio de la card */
.card-title.text-darken-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Enlace de la card */
.card-content p {
    margin-top: auto; /* Empuja el enlace hacia abajo */
}

/* Estilos para la paginación (si es necesario) */
.my-pagination ::ng-deep .ngx-pagination {
    background-color: #9e9e9e;
}


/* Estilos para el fondo  */
.fondo {
    /* Ajusta la altura según tus necesidades */
    height: 100%;
  
    /* Estilos de fondo */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
  
    /* Aplica el filtro blur */
    backdrop-filter: invert(80%);/* Ajusta el valor para controlar la intensidad del desenfoque */
  
    /* Posicionamiento del contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* Estilos para el texto */
    color: white; /* Asegúrate de que el texto sea visible sobre el fondo desenfocado */
    text-align: center;
  }
  
  /* Estilos para la imagen dentro del contenedor (opcional) */
  .fondo img {
    max-width: 50%;
    border-radius: 10px;
    margin: 0 auto;
  }

  .fondo h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
    

  