<h2 >Productos destacados</h2>

<div class="carousel carousel-slider center">
  <div class="carousel-item  grey darken-1 white-text" *ngFor="let producto of productosDestacados">
    <h2>{{ producto.nombre }}</h2>
    <p class="white-text">{{ producto.descripcion }}</p>
    <img src={{producto.imagen}} alt="{{ producto.nombre }}" class="responsive-img" style="max-width: 50%; border-radius: 10px;" > 
  </div>
</div>

<div class="container">
  <h4 class="center">Categorías</h4>
  <div class="row">
    <div class="col s12 m4" *ngFor="let categoria of categorias">
      <div class="card">
        <div class="card-image">
          <img [src]="categoria.imagen" alt="{{ categoria.nombre }}"> 
          <span class="card-title">{{ categoria.nombre }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
