
 <br />
<a routerLink="/" class="btn" *ngIf="this.ordenesVacias">Ir a comprar  </a>
<br />
<table *ngIf ="this.ordenesVacias == false">
  <thead>
    <tr>
      <th>Total</th>
      <th>Cantidad</th>
      <th>Id Producto</th>
      <th>Estado</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of ordenes">
      <td>{{r.total_amount | currency:'COP':'symbol-narrow':'1.0-0'}}</td>
      <td>{{ r.quantity }}</td>
      <td>{{ r.post_id }}</td>
      <td *ngIf="r.status == 0">Activo</td>
      <td *ngIf="r.status == 2">Finalizado</td>
      <td *ngIf="r.status == 1">Cancelado</td>
      <td *ngIf="r.status == 3">Terminado</td>
      
      <td>
        <a
        (click)="this.CalificarOrden(r.id);"
          class="btn orange"
          *ngIf="r.status == 2 ">Calificar</a
        >&nbsp;
        <a (click)="this.CancelarOrden(r.id)" class="btn red"
          *ngIf="r.status == 0" >Cancelar Pedido</a
        >
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
<br>
<br> 


<p *ngIf ="this.ordenesVacias">
  Aún no tienes compras.
</p>
