<nav class="blue-grey darken-4">
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo"><img src="assets/images/logoFrutana.png" width="50" height="40"/>Frutana</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down ">
      <li><a class="grey-text text-lighten-3" routerLink="/inicio">Inicio</a></li>
      <li><a class="grey-text text-lighten-3" routerLink="/nosotros">Nosotros</a></li> 
      <li><a class="grey-text text-lighten-3" routerLink="/seguridad/formulario-contacto-administrador">Contacto</a></li>
      <li><a  class="waves-effect waves-light btn" routerLink="/inicio">Iniciar Sesión</a></li>
      
    </ul>
  </div>
</nav>
